{% extends 'admin/band/formLayout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Band</h1>

                {{ include('admin/band/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
